<!-- <p>
  <h1><%= @recipe.name %></h1>
</p> -->
<%= render 'shared/page_title', title: @recipe.name %>
<div class="row">
	<div class="col-md-4 pull-right center">
		<%= link_to gravatar_for(@recipe.cheff, size: 200), cheff_path(@recipe.cheff) %>
		<p>
		  <h5>Brought to you by: <%= @recipe.cheff.chefname %></h5>
		</p>


		  <div class="panel panel-default">
	  	      <div class="panel-heading">Comments</div>
	            <div class="panel-body">
	              <p>...</p>
	            </div>  	  
	          <ul class="list-group">
	            <li class="list-group-item">Cras justo odio</li>
	            <li class="list-group-item">Dapibus ac facilisis in</li>
	            <li class="list-group-item">Morbi leo risus</li>
	            <li class="list-group-item">Porta ac consectetur ac</li>
	            <li class="list-group-item">Vestibulum at eros</li>
	          </ul>
	         </div>
	      </div>
	<div class="col-md-8">
	  <% if logged_in? and (@recipe.cheff == current_user || current_user.admin?) %>
	    <%= link_to "Edit this Recipe", edit_recipe_path(@recipe), class: "btn btn-success pull-right" %>
	  <% end %>
	  <% if logged_in? and (@recipe.cheff == current_user || current_user.admin?) %>
        <%= link_to "[Delete Recipe]", @recipe, method: :delete %>
      <% end %>
	  <h3><%= @recipe.summary %></h3>
	  <div class="show_recipe">
	  	 <%= image_tag(@recipe.picture.url, class: "gravatar") if @recipe.picture? %>  <!-- addition of imagetag -->
	  </div>
	   <div class="well">
	   	  <p>
	   	  <strong>Steps:</strong>
	   	  </p>
	   	  <%= simple_format(@recipe.description) %>

	   	  <div class="pull-right">
	   	    <%= link_to like_recipe_path(@recipe), method: :post do %>
	   	      
                 <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= @recipe.thumbs_up_total %>
	   	      <% end %>	&nbsp&nbsp&nbsp&nbsp
            <%= link_to like_recipe_path(@recipe), method: :post do %>
              <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp <%= @recipe.thumbs_down_total %>
	   	    <% end %>	

	   	  </div>

	   </div>
	 </div>
</div>

