<%= render 'shared/page_title', title: "All Chefs" %>

<ul class="nav nav-tabs">
  <li> <%= link_to "Temples", recipes_path %> </li>
          <li class="active"><%= link_to "Hotels", cheffs_path %></li>
</ul>

<% @cheffs.each do |cheff| %>
  <div class="row">
  	<div class="col-md-4 col-md-offset-4 center">
       <%= link_to gravatar_for(cheff, size: 200), cheff_path(cheff) %>
       <p>
          <h5>Chef name: <%=cheff.chefname %></h5> 
       </p>  		

    </div>
  </div>
  <% end %>